{% extends 'base.html' %}

{% block content %}
<style>
    body {
        background: url('https://img.yysung.tw/img/db2328e4c3f120ce2912bbe17ee680453321d2e8a0ff91e00b7d0ad6269c1236.jpeg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    .bg-tp {
        background-color: rgba(50, 50, 50, 0.4);
    }
</style>
<div class="p-5 mb-4 rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-3 fw-bold text-center text-light bg-tp">2021 Practical/Real-Life Applications of
            Computational Algorithms
            Final Project</h1>
    </div>
</div>
<!--
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-center">2021 Practical/Real-Life Applications of Computational Algorithms
            Final Project</h1>
    </div>
</div>
-->
{% endblock %}