{% extends 'base.html' %}

{% block content %}
<div style="height: 100%; display: flex; align-items: center; justify-content: center;">
    <div class="btn-group-vertical">
        <a href="/login/nctu" class="btn btn-lg btn-default btn-block btn-outline-dark" role="button">
            以 NCTU OAuth2 登入
        </a>
        <br />
        <a href="/login/nycu" class="btn btn-lg btn-default btn-block btn-outline-dark" role="button">
            以 NYCU OAuth2 登入
        </a>
    </div>
</div>
{% endblock %}